<div class="main-page">
    <div class="col-lg-4 col-md-4 col-sm-12 login-page-block">
      <div class="vertical-center">
        <div class="container">
          <div class="text-center" id="login-logo">
            <img style="width: 100px" src="/assets/img/logo.png">
          </div>
<!--       <form> -->
            <div class="form-group">
              <input type="login" class="form-control" id="login" placeholder="Login">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Hasło">
            </div>
            <button [routerLink]="'/start'" type="submit" class="btn btn-secondary btn-lg btn-block">Zaloguj</button>
<!--          </form>-->
          <div id="login-copyrights">©2020 Patryk Duduś</div>
        </div>

      </div>
    </div>
    <div class="col-lg-8 col-md-8 login-page-block" id="login-right-panel"></div>
</div>


